---
layout: archive
permalink: /year-archive/
title: "Notes"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---
Here I write some notes for myself. You could also call them blog posts. 
The main purpose is to collect what I learn or what I think could be useful in the future, so I can come back read my own notes. 
I will try to put relevant refecences as well. 
 
{% include base_path %}
{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
